@import './variables.css';

body {
  font-family: 'IranYekan', sans-serif;
  background: var(--bg-soft);
  margin: 0;
}

@font-face {
  font-family: 'IranYekan';
  src: url('@/assets/fonts/BYekan/BYekan.ttf') format('ttf');
}
