:root {
  /* Primary */
  --color-primary: rgba(226, 0, 84, 1);
  --color-dark: rgba(20, 25, 40, 1);

  /* Text */
  --text-primary: rgba(37, 51, 67, 1);
  --text-secondary: rgba(68, 90, 116, 1);
  --text-muted: rgba(100, 126, 154, 1);
  --text-white: rgba(255, 255, 255, 1);

  /* Background */
  --bg-white: rgba(255, 255, 255, 1);
  --bg-light: rgba(233, 237, 245, 1);
  --bg-soft: rgba(248, 249, 252, 1);
  --bg-red: rgba(226, 0, 84, 1);

  /* Button */
  --btn-primary: rgba(226, 0, 84, 1);
  --btn-dark: rgba(20, 25, 40, 1);
}
